@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Product>
@{
    ViewBag.Title = "Index";
}
<a class="btn btn-primary" href="/AdminProduct/Create">Ürün Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Kategori</th>
        <th>Popüler</th>
        <th>Onay</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Stok</td>
            <td>@item.Name</td>
            <td>
                @if (item.Popular == true)
                {
                    <label class="btn btn-success">Evet</label>
                }
                else
                {
                    <label class="btn btn-danger">Hayır</label>
                }
            </td>
            <td>
                @if (item.IsApproved == true)
                {
                    <label class="btn btn-success">Evet</label>
                }
                else
                {
                    <label class="btn btn-danger">Hayır</label>
                }
            </td>
            <td><img src="~/Content/image/@item.Image" style="width:80px;height:80px" /></td>
            <td>@item.Category.Name</td>
            <td>@Html.ActionLink("Sil", "Delete", new { item.Id }, new { @class = "btn btn-danger", onclick = "return confirm ('Silmek istiyor musunuz?')" })</td>
            <td><a class="btn btn-primary" href="/AdminProduct/Update/@item.Id">Güncelle</a></td>

        </tr>
    }
</table>
<br />
@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)
