@model EntityLayer.Entities.Product
@{
    ViewBag.Title = "Update";
}
<!--dk 55.00-->

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Update</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "btn btn-danger" })

                <div class="form-group">
                    <label>Ad</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" />
                    @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color-red" })
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" class="form-control" name="Description" value="@Model.Description" />
                    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color-red" })
                </div>
                <div class="form-group">
                    <label>Önceki Resim</label>
                    <img src="~/Content/image/@Model.Image" width="70" height="70" />

                </div>
                <div class="form-group">
                    <label>Resim</label>
                    <input type="file" class="form-control" name="file" />
                    @Html.ValidationMessageFor(x => x.Image, "", new { @style = "color-red" })
                </div>
                <div class="form-group">
                    <label>Fiyat</label>
                    <input type="text" class="form-control" name="Price" value="@Model.Price" />
                    @Html.ValidationMessageFor(x => x.Price, "", new { @style = "color-red" })
                </div>
                <div class="form-group">
                    <label>Stok</label>
                    <input type="text" class="form-control" name="Stok" value="@Model.Stok" />
                    @Html.ValidationMessageFor(x => x.Stok, "", new { @style = "color-red" })
                </div>
                <div class="form-group">
                    <label>Popüler</label>
                    @Html.EditorFor(x => x.Popular)
                    @Html.ValidationMessageFor(x => x.Popular, "", new { @style = "color-red" })
                </div>
                <div class="form-group">
                    <label>Onay</label>
                    @Html.EditorFor(x => x.IsApproved)
                    @Html.ValidationMessageFor(x => x.IsApproved, "", new { @style = "color-red" })
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                

                    @Html.DropDownListFor(x => x.CategoryId, (IEnumerable<SelectListItem>)ViewBag.ktgr, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CategoryId, "", new { @style = "color-red" })

                    <br />
                    
                </div>
                <button class="btn btn-primary" type="submit">Güncelle</button>
                    <a href="/AdminProduct/Index" class="btn btn-primary">Ürün Listesi</a>
               
            </form>

        </div>

    </div>

</div>





